html, body, div, span, h2, h3, p, a, img, strong, ol, ul, li {margin:0;padding:0;border:0;outline: 0; font-size: 100%; vertical-align: baseline; background: transparent;}
ol, ul {list-style: none;}
html, body {height: 100%;}

@font-face {
    font-family: 'Open Sans';
    src: url('/fonts/pfsquaresanspro-regular.eot');
    src: url('/fonts/pfsquaresanspro-regular.eot?#iefix') format('embedded-opentype'),
	url('/fonts/pfsquaresanspro-regular.woff') format('woff'),
	url('/fonts/pfsquaresanspro-regular.ttf') format('truetype'),
	url('/fonts/pfsquaresanspro-regular.svg#pf_square_sans_proregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Open Sans';
    src: url('/fonts/OpenSans-Regular.ttf');
    
	
}

.clear {
clear: both;
display: block;
height: 0;
line-height: 0;
overflow: hidden;
font-size: 0;
}


body {background:#fff;text-align:center;font-family: 'Open Sans', Arial, sans-serif;}
a {color:#33b7bc;text-decoration:underline;}
a:hover {color:#168185}
a:active {color:#136b78}
.bg_header {background:#363636 url("/images/header_bg.png") top center repeat-x;height:111px;width:100%;margin:0;padding:20px 0 0;}
.logo {display:block;margin:-25px 0 20px 0px;float:left;}
.container {min-width:960px;max-width:1216px;margin:0 auto;position:relative;text-align:left;padding:0 40px;}
.break {clear:both;}
h1 {font:bold 24px/24px 'PF Square Sans Pro', Arial, sans-serif;margin:0 0 15px;}
h2 {font:bold 20px/24px 'PF Square Sans Pro', Arial, sans-serif;margin:0 0 0px;}
h3 {font:normal 20px/24px 'PF Square Sans Pro', Arial, sans-serif;margin:0 0 0px;}
h5 {font:bold 16px/24px 'PF Square Sans Pro', Arial, sans-serif;margin:0 0 0px;}
h3.h3_with_hr {border-bottom:2px dotted #767676;}
.h1_dotted {border-bottom:2px dotted #000;}

.white_border {text-shadow: #fff 2px 0px, #fff 2px 2px, #fff 0px 2px, #fff -2px 2px, #fff -2px 0px, #fff -2px -2px, #fff 0px -2px, #fff 2px -2px;}
.green_border {text-shadow: #ecf7f1 2px 0px, #ecf7f1 2px 2px, #ecf7f1 0px 2px, #ecf7f1 -2px 2px, #ecf7f1 -2px 0px, #ecf7f1 -2px -2px, #ecf7f1 0px -2px, #ecf7f1 2px -2px;}
hr {color:#fff;background:#fff;padding:0;height:1px;border:0; border-bottom:2px dotted #767676;margin:15px -5px 15px -5px;display:block;}
hr.float_left {float:left;width:100%;margin:15px 0;}
select {font:normal 14px/14px 'PF Square Sans Pro', Arial, sans-serif;border:1px solid #000;padding:2px 1px;cursor:pointer;}
input[type="text"], input[type="email"], input[type="password"], input[type="search"], textarea, select {border:1px solid #000;}
input[type="text"]:focus, input[type="email"]:focus, input[type="password"]:focus, input[type="search"]:focus, textarea:focus, select:focus {border: 1px solid #33b7bc; color:#000 !important;}
input::-moz-focus-inner{border: 0;padding: 0;} 
textarea {font:normal 14px/14px 'PF Square Sans Pro', Arial, sans-serif;color:#818181;padding:4px;}
.for_textarea {margin:0 10px 0 0;}
input, textarea {outline:none;}  
input:active, textarea:active {outline:none;} 
:focus {outline:none;}  

/*кнопка*/

.header_join_button{margin:; box-shadow:none!important;}

/* Header & Footer */
.header_join{background:#000}
.header_join img {float:left; margin:20px}
.join_container{text-align:left; height:120px; margin:-20px 0 0 0}
#join_language_box select {float:right;font:normal 12px/12px 'Open Sans', Arial, sans-serif;padding:2px 1px;width:80px;margin:40px 20px 0 0;cursor:pointer;}
.join_login{margin:40px 0 0 50px; float:left}
.superpadding{margin:15px}

.footer {background:#363636;padding:28px 0;font:normal 14px/24px 'PF Square Sans Pro', Arial, sans-serif;}
.footer a {color:#fff;}
.footer a:hover {color:#00aaaf;}
.footer_logo {display:block;float:right;margin:24px 0;}
.footer_links {margin:0 330px 0 0;}
.footer_links_one {width:39%;float:left;}
.footer_links_one a {margin-right:35px;display:block;white-space:nowrap;}
.footer_links_mail {border-right:2px dotted #929292;border-left:2px dotted #929292;}
.footer_links_mail, .footer_links_last {width:30%;text-align:center;}
.footer_links_mail a {color:#33b7bc;display:inline-block;text-align:center;margin:21px 35px;}
.footer_links_mail a:hover {color:#fff;}
.footer_links_last a {display:inline-block;text-align:center;margin:25px 35px 20px;}

.underhead{ background:#33b7bc; height:80px; padding:25px 30px 15px 80px; color:#fff; }
.underhead p{font-size:24px; text-align:left; font-weight:normal; line-height:30px; font-family:PF Square Sans Pro;}


/* Content */


.welcome_container {background: url("/images/middle_bg.png") 0 0 repeat;   text-align:center; }
.welcome {background:#fff url("/images/join/hvost.png") 220px 180px no-repeat;; margin:0 auto;  width:1100px;  text-align: left;  padding-top: 1px;}

.welcome_login {background:#fff; margin:0 auto 20px;  width:950px;  text-align: left;  padding-top: 1px;  padding-bottom: 10px;}
.welcome_login_center{ width:400px; margin:30px auto; }
.welcome_login_input{width:210px; height:20px; float:right; margin: 5px 0}
.welcome_login_p{float:left;margin: 8px 0; font-size: 14px}
.voiti{border-bottom:dotted 3px #c3c3c3; height:40px; font-size:24px; font-family:"Open Sans"; margin: 0 0 30px 0}
.zareg{float:right; margin: 10px 0 0 0}

.welcome_login_bubble {border-top:dotted 3px #c3c3c3;background:url("/images/login_bubble.png") 10px 20px no-repeat; height:134px; width:400px; margin:35px 0 0 0}
.welcome_login_bubble_text{margin: 60px 24px 10px; font-size:14px; color: #727272}
.eto{margin:20px; font-size:22px; background: }


.welcome_note{font-weight:normal; padding:20px; text-align:left;  background:#33b7bc ;margin: 0 20px;}
.welcome_votkak_left{border-right:dotted 3px #fff; width:47%; float:left; padding-right:20px}
.votkak_votkak{font-size:18px; color:#fff;}
.note_text{font-size:24px; font-weight:bold}
.welcome_votkak_right{width:47%; float:right; font-size:14px; padding-right:15px; width:400px}
.welcome_votkak_right .ostav_email{color:#fff;}

.welcome-titles{ float:left;line-height: 2.3; margin: 40px 50px 0 -90px;width: 230px; color:#716e6d;}
.welcome-titles span {cursor: pointer; }
.welcome-titles span:hover{cursor: pointer; color:#f16455;  }

.welcome-block { display: none;}
.duga{float:left; border:3px solid black}


.welcome_inner_box{position:absolute; width: 500px}
.welcome-block .duga img{float:left;   left: 233px; position: absolute;}


.welcome3_bel{margin: 0 0 15px;text-align:left}
.prinat_menya{font-size:18px; margin: 0px 0 0 0 }

.welcome_main{ height:350px; width:877px; margin:30px auto; }
.welcome_step2 {background:#fff; padding-top:15px; text-align:left; height:440px; margin-bottom:20px;}
.welcome_main_step2{background: url("/images/welcome_line.png") 0 0 no-repeat; height:310px; width:877px; margin:30px 25px 30px 25px; }
.welcome_main_step3{background:#fff url("/images/middle_bg.png") 0 0 repeat;margin:0 auto; margin-top:40px; margin-bottom: 20px;padding:15px 15px; width: 530px;}
.welcome_help{ background:#f2f2f2; font-size: 14px; color:#727272; margin:20px -15px 0 -15px; padding:7px;}
.welcome_help p{margin:0px 0 0 10px;}
.welcome_input{float:right; width:300px; height:30px; font-size:16px;}
.welcome_select{ width:100px; height:28px; margin-left:158px;}

.agreement{background:#fff;padding:15px 0 15px 0; text-align:left;  width:1100px; margin: -20px auto 0;}
.welcome_main img {margin:10px 10px 10px 0px; float: left;}
.welcome_parts img{margin:10px 0px 20px 10px; float: left;}
.parts_text{width: 505px;float:left; margin:10px 0 0 5px; font-size:16px}
.parts_text_blue{color:#34bebf;width: 380px;float:left; margin:10px 0 0 5px; font-size:16px}
.parts_text_bold{float:left; margin:0px 0 0 5px; font-weight:bold;font-size:16px;width: 480px;}

.right{float:right; 	position:absolute;	left:190px;	top:5px; width: 770px ;}

.welcome_social {background:#fff ; margin:0 auto; margin-bottom:10px; margin-top:-20px;  width:1100px; height:45px;  }
.welcome_social_one {height:36px; width:95px; font-size:12px; cursor:pointer ; float:right; margin-top:4px;}
.voiti_kak{float:right; margin:9px}
.welcome_social_one img {float:left; margin:6px}
.welcome_social_one p{float:left; margin:9px auto ;}
.welcome_social_one:hover{height:36px; width:95px; background: url("/images/bracket.png") 0 0 no-repeat; }

.welcome_social_reg {background:#fff ; margin:0 auto; margin-bottom:20px; margin-top:10px; height:px;   padding-top: 1px;text-align:left;  }
.welcome_social_one_reg {height:49px; width:127px; font-size:16px; cursor:pointer ; float:right; margin-top:5px;}
.welcome_social_one_reg:hover{height:49px; width:127px; background: url("/images/bracket2.png") 0 0 no-repeat; }
.welcome_social_one_reg p{float:left; margin:11px auto ; }
.welcome_social_one_reg img {float:left; margin:6px 10px 0 5px }
.social_help{font-size:14px;color:#727272; margin: 15px 27px}


.welcome_popup_wrap{height:760px; width:435px; border:3px solid #33b7bc; text-align:left; background:#fff; position:relative; top:-270px; left:-170px}
.welcome_popup_wrap_close{height:40px; background:#33b7bc;}
.welcome_popup_wrap_close p{color:#fff; text-align:left; padding:5px 0 0 20px; font-size:20px}
.welcome_popup_wrap_close img{float:right; margin-top:-18px; margin-right:7px}
.popup_zag{font-size:23px; font-weight:bold; margin:10px 0 40px 20px}
.title_reg{margin:10px}


figure:hover figcaption {
	
   display: block;
   opacity: 1; 
}

figcaption {  height: 200px; width:300px;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-out;  
  -moz-transition: opacity 0.3s ease-out;  
  -ms-transition: opacity 0.3s ease-out;  
   -o-transition: opacity 0.3s ease-out;  
          transition: opacity 0.3s ease-out;  
}
.proizvod_popup{position:absolute; left:380px ;top:170px;}
.popup_img_on1{position:absolute; left:-282px ;top:13px;}

.opt_popup{position:absolute; left:380px ;top:170px;}
.popup_img_on2{position:absolute; left:-282px ;top:81px;}

.rozn_popup{position:absolute; left:380px ;top:175px;}
.popup_img_on3{position:absolute; left:-282px ;top:144px;}

.postav_popup{position:absolute; left:380px ;top:175px;}
.popup_img_on4{position:absolute; left:-282px ;top:212px;}

.konec_popup{position:absolute; left:380px ;top:180px;}
.popup_img_on5{position:absolute; left:-282px ;top:275px;}

figure:hover{color:#ff4944}
.popup_p{float: left; margin: 13px 0 0 10px; width:250px; height:55px; text-decoration:underline}
.popup_img {float: left; margin:0 5px }



.brand{height:101px; background:#f4f5f6; padding: 20px; font-size:16px}
.brand_reg{text-align:left; height:101px; background:#f4f5f6; padding: 20px; font-size:16px}
.button_popup{margin: 10px 0 20px 0  }

.nazvanie_companii{border-top: 3px dotted #767676; height:130px; margin: 20px 20px 50px 20px}
.nazvanie_companii p{ margin: 10px 0}
.input_popup {width: 360px; height:25px}

.welcome_fb_bg{background:red url("/images/logo.png") 0 0 no-repeat;}
/* User */
?
